<a href="https://colab.research.google.com/github/cintiapinho/PA-Prog_e_Algorit-1C_1F_2025/blob/main/variaveiseoperadoresaritmeticos1f/variaveisecontantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variáveis e Constantes

In [ ]:
idade = 43
altura = 1.52
nome = "Cíntia Pinho"
vai = True

In [ ]:
nome="Tereza"

In [ ]:
print(nome)

Tereza

In [ ]:
nomes = ["Cíntia Pinho","Tereza","Alberto","Roberto"]
nomes2 = ("Juliana","Juliana","Sérgio","Carmelinda")
tudo = {nome:"Cíntia Pinho",idade: 42, altura:1.52}

In [ ]:
print(nome)
print(nomes)
print(nomes2)
print(tudo)

Tereza
['Cíntia Pinho', 'Tereza', 'Alberto', 'Roberto']
('Juliana', 'Juliana', 'Sérgio', 'Carmelinda')
{'Tereza': 'Cíntia Pinho', 43: 42, 1.52: 1.52}

In [ ]:
print(type(idade))
print(type(altura))
print(type(vai))
print(type(nome))
print(type(nomes))
print(type(nomes2))
print(type(tudo))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
set(nomes2)

{'Carmelinda', 'Juliana', 'Sérgio'}

In [ ]:
print("O nome dela é:", nome, ", sua idade é:", idade, ", ela tem", altura," metros de altura" )

O nome dela é: Tereza , sua idade é: 43 , ela tem 1.52  metros de altura

In [ ]:
print(f"O nome dela é : {nome}. A Altura dela é:{altura}")

O nome dela é : Tereza. A Altura dela é:1.52

# Área do Círculo

In [ ]:
PI = 3.14159
raio = float(input("Digite o valor do raio do círculo: "))

Digite o valor do raio do círculo: 4

In [ ]:
areacir = PI * (raio**2)

In [ ]:
print(f"A área do círculo é {areacir}")

A área do círculo é 50.26544

Área do quadrado

In [ ]:
true = "Cintia"

In [ ]:
true

'Cintia'